.cuadricula 
    display: grid
    height: 90vh
    width: 80vw
    grid-template-columns:  40% 60% 
    grid-template-rows: 100%
    background: #ffffff
    border: 1px solid #900C3F

.ImagenFondo
    background: url(https://i.pinimg.com/originals/a7/8d/ef/a78def1238d325e3bbd1f5aa9e38fed7.jpg) no-repeat center center
    background-size: cover
    background-attachment:fixed
    width: 100%
    height: 100%

.OpcionesTecnico
    margin-left: 5%
    width: 90%
    border: 3px solid black
    height: 15.6vh
    margin-top: 2vh
    background: #900C3F

.OpcionesTecnico img
    width: 20%
    height: 13vh
    margin-top: 1vh
    