

<ng-container class="ContainerRecepcion">

    <ng-container class="CrearCliente" >
        <div class="LabelUsuario">
            <label for="CMBTipoDocumento" name="LabTipoIdentificacion" >Tipo Identificacion</label>
        </div>
        
        <div class="">
            <select name="CMBTipoDocumento" >
                <option value="1" label="Targeta De Identidad"></option>
                <option value="2" label="Cedula Ciudadana"></option>
            </select>
        </div>
    </ng-container>




</ng-container>