<!-- Autor:
     Ronaldo Carlos Rodriguez Perez
     Ultima Edicion Por:
     Ronaldo Carlos Rodriguez Perez
 -->


<ng-container *ngIf="BoolSeccionLogin" class='ContainerLogin' >
    <div class="cuadricula">
        <div class="Login">

            <h1>Celutel</h1>

            <br/><br/><br/><br/>

            <form >

                <div class="LabelLogin">
                    <label for="TxtUsername" name="LabIdentificacion" >Identificacion</label>
                </div>
                
                <div class="CamposDeTexto">
                    <input type="text" name="TxtUsername"  [(ngModel)]="ObtEmpleado.Username" />
                </div>

                <br/>

                <div class="LabelLogin">
                    <label for="TxtContrasena" name="LabContrasena"  >Contraseña</label>
                </div>
            
                <div class="CamposDeTexto">
                    <input type="password" name="TxtContrasena"[(ngModel)]="ObtEmpleado.Contrasena"/>
                </div>

                <br/> <br/>
                <div class="botones">
                <button  id="BLogin" (click)="Loguearse()"> Acceder </button>
                <br/><br/>
                <button  id="BSeccionRecueprar" (click)="BoolSeccionLogin = false"> Recuperar Contrasena </button>
                </div>
            </form>
        </div>
        <div class="ImagenFondo">
        </div>

    </div>
</ng-container>

<ng-container *ngIf="!BoolSeccionLogin" >
<div class="cuadricula">
    <div class="Recuperar">
    
        <div class="Login">
    
        <h1>Celutel</h1>
    

            <br/><br/><br/><br/>

        </div>
        <form >
            <div class="LabelLogin">
                 <label for="TxtCorreo" name="LabCorreo" >Correo</label>
            </div>
            
            <div class="CamposDeTexto">
            <input type="text" name="TxtCorreo"  [(ngModel)]="Correo.Correo" />
            </div>
            <br/><br/><br/><br/><br/>
            
            <div class="botones">
                <button  id="BRecuperar" (click)="RecuperarContrasena()"> Recuperar Contraseña </button>
             </div>  
             <br/>
             <div class="botones">
                <button  id="BSeccionLogin" (click)="BoolSeccionLogin = true">Loguearse</button>
             </div>
            

        </form>
      
    
    
    </div>
    <div class="ImagenFondo"></div>
</div>
    
    </ng-container>
